@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.target-red {
  background: #cc0000;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(183, 186, 182);
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

/* Custom Scrollbar */
.hidden-scrollbar::-webkit-scrollbar {
  width: 17px;
  scroll-behavior: smooth;
}

.hidden-scrollbar::-webkit-scrollbar-track {
  background: none;
}

.hidden-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}
.hidden-scrollbar {
  overflow-y: hidden;
}

.no-hover-on-focus-underline:hover:not(:focus-within) {
  text-decoration: underline;
}

.underline-divider::after {
  content: "";
  background: rgb(51, 51, 51, 30%);
  display: block;
  height: 1px;
  margin: 0 20px;
}

.list-dot:focus-within::after {
  content: "";
  background: black;
  position: absolute;
  display: block;
  left: 5px;
  top: 50%;
  height: 5px;
  width: 5px;
  border-radius: 1000px;
}

.list-item-checkmark::before {
  content: "✓";
  position: absolute;
  left: -1rem;
  color: rgb(0, 131, 0);
  font-weight: 700;
  font-size: 12px;
}

.dotted-outline-no-underline-on-focus:focus-visible {
  outline-width: 2px;
  outline-color: #64748b;
  outline-style: dotted;
  text-decoration-line: none;
}
.dotted-outline-no-underline-on-focus-within:focus-within {
  outline-width: 2px;
  outline-color: #64748b;
  outline-style: dotted;
  text-decoration-line: none;
}

.dotted-outline-on-focus:focus-visible {
  outline-width: 2px;
  outline-color: #64748b;
  outline-style: dotted;
}
