@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.target-red {
  background: #cc0000;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

* Apply to the entire page */ body::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888; /* Darker gray for the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the handle */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray on hover */
}
